{% extends "base.html" %} {% block content %}
<body>
  {% include 'staffnav.html' %}

  <h1 class="text-3xl font-bold text-gray-700 px-7 pt-7">Accounting</h1>
  <div class="p-7 text-gray-700">
    <form action="{{ url_for('accounting') }}" method="post">
      <input
        name="reference"
        placeholder="Enter Admission Reference"
        class="block w-full p-3 bg-gray-100 rounded-xl"
      />
      <button
        type="submit"
        class="mt-4 items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Search
      </button>
    </form>
    <div class="max-w-sm p-6 rounded-lg"></div>
    {% if data %}
    <div
      class="max-w-sm p-7 bg-gray-50 border rounded-lg border-gray-100 border-1"
    >
      <div class="flex gap-2">
        <strong>Student Name: </strong>
        <span class="capitalize">{{data.first_name}} {{data.last_name}}</span>
      </div>
      <div class="flex gap-2">
        <strong>Subject: </strong>
        <span>{{data.course}}</span>
      </div>
      <div class="flex gap-2">
        <strong>Status: </strong>
        <span class="capitalize">{{data.status}}</span>
      </div>

      {% if data.status != "enrolled" %}
      <form action="/payment-received/{{data.id}}" method="post">
        <button type="submit" class="mt-4 text-blue-500 underline text-sm">
          Payment Received Enroll Student
        </button>
      </form>
      {% endif %} {% endif %} {% if not_found %}
      <div>No record found.</div>
      {% endif %}
    </div>
    <!--  -->
  </div>
</body>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<script>
  if (window.location.search.includes("success=True")) {
    swal({
      title: "Success",
      text: "Student successfully Enrolled!",
      type: "success",
      showCancelButton: false,
      confirmButtonColor: "rgb(99, 102, 241)",
      confirmButtonText: "Close",
    });
  }
</script>

{% endblock %}
