{% extends 'base.html' %} 
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
      <h1 class="text-3xl font-bold text-gray-700 p-7">Admission System</h1>
      <h2 class="text-xl font-bold text-gray-700 p-7"> Admission Process:</h2>
      <div class="text-m text-gray-700 p-7">
        <ol>Click on Register above to start your admission process.</ol>
        <ol>Fill up the form and submit.</ol>
        <ol>Wait for your admission to be processed.</ol>
        <ol>Once accepted, pay the necessary fee at the accounting office and wait for the payment confirmation.</ol>
        <ol>You have succesfully enrolled once the payment is confirmed.</ol>
      </div>
  </body>
</html>
{% endblock %}